$black-color: #000;
$black-nd-color: #505050;
$blue-color: #2980b9;
$blue-nd-color: #276994;
$red-color: #e74c3c;
$red-nd-color: #c73c2d;
$green-color: #2ecc71;
$green-nd-color: #18b159;
$purple-color: #9b59b6;
$purple-nd-color: #8135a0;
$carrot-color: #e67e22;
$carrot-nd-color: #da6c0b;
$orange-color: #f39c12;
$orange-nd-color: #e29214;
$gray-color: #7f8c8d;
$gray-nd-color: #6b6b6b;
$midnight-color: #2c3e50;
$midnight-nd-color: #516982;

$text-color : #464646;
$text-nd-color : #797979;
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: $text-color;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
    color:$text-color;
}
img{
    max-width: 100%;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

.hidden{
    display: none;
}
/*
===============================================================
    INI POSITION
===============================================================
*/

.ini.float.left {
    float: left;
}

.ini.float.right {
    float: right;
}

.ini.align.left {
    text-align: left;
}

.ini.align.right {
    text-align: right;
}

.ini.align.center {
    text-align: center;
}

.ini.align.justify {
    text-align: justify;
}

.ini.margin.left {
    margin-left: auto;
}

.ini.margin.right {
    margin-right: auto;
}

.ini.margin.center {
    margin: 0 auto;
}

/*
===============================================================
    INI GRID
===============================================================
*/

.ini.grids {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}

.grid {
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

//responsive
[class*="grid of-12"] {
    flex: none;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

[class*="grid of-10"] {
    flex: none;
    width: 83.333333%;
    padding-right: 10px;
    padding-left: 10px;
}

[class*="grid of-9"] {
    flex: none;
    width: 75%;
    padding-right: 10px;
    padding-left: 10px;
}

[class*="grid of-8"] {
    flex: none;
    width: 66.666667%;
    padding-right: 10px;
    padding-left: 10px;
}

[class*="grid of-7"] {
    flex: none;
    width: 58.333333%;
    padding-right: 10px;
    padding-left: 10px;
}

[class*="grid of-6"] {
    flex: none;
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
}

[class*="grid of-5"] {
    flex: none;
    width: 41.666667%;
    padding-right: 10px;
    padding-left: 10px;
}

[class*="grid of-4"] {
    flex: none;
    width: 33.333333%;
    padding-right: 10px;
    padding-left: 10px;
}

[class*="grid of-3"] {
    flex: none;
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;
}

[class*="grid of-2"] {
    flex: none;
    width: 16.666667%;
    padding-right: 10px;
    padding-left: 10px;
}

[class*="grid of-1"] {
    flex: none;
    width: 8.333333%;
    padding-right: 10px;
    padding-left: 10px;
}

//small
@media (min-width: 576px) {
    [class*="grid small of-1"] {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid small of-2"] {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid small of-3"] {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid small of-4"] {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid small of-5"] {
        -ms-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid small of-6"] {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid small of-7"] {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid small of-8"] {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid small of-9"] {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid small of-10"] {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid small of-11"] {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid small of-12"] {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
}

//medium
@media (min-width: 768px) {
    [class*="grid medium of-1"] {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid medium of-2"] {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid medium of-3"] {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid medium of-4"] {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid medium of-5"] {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid medium of-6"] {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid medium of-7"] {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid medium of-8"] {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid medium of-9"] {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid medium of-10"] {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid medium of-11"] {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid medium of-12"] {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
} //large
@media (min-width: 992px) {
    [class*="grid large of-1"] {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid large of-2"] {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid large of-3"] {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid large of-4"] {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid large of-5"] {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid large of-6"] {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid large of-7"] {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid large of-8"] {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid large of-9"] {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid large of-10"] {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid large of-11"] {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid large of-12"] {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
}
//extra large
@media (min-width: 1200px) {
    [class*="grid xlarge .of-1"] {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid xlarge .of-2"] {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid xlarge .of-3"] {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid xlarge .of-4"] {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid xlarge .of-5"] {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid xlarge .of-6"] {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid xlarge .of-7"] {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid xlarge .of-8"] {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid xlarge .of-9"] {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid xlarge of-10"] {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid xlarge of-11"] {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
        padding-right: 10px;
        padding-left: 10px;
    }
    [class*="grid xlarge of-12"] {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
}

/*
===============================================================
    INI CONTAINER
===============================================================
*/

.ini.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media (min-width: 576px) {
    .ini.container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .ini.container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .ini.container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .ini.container {
        max-width: 1140px;
    }
}

/*
===============================================================
    INI DISPLAY
===============================================================
*/

.ini.display.block {
    display: block;
}

.ini.display.flex {
    display: flex
}

.ini.display.inline-block {
    display: inline-block
}
/*
===============================================================
    INI BACKGROUND
===============================================================
*/

.ini.background.blue {
    background: $blue-color;
}

.ini.background.red {
    background: $red-color;
}

.ini.background.gray {
    background: $gray-color;
}

.ini.background.black {
    background: $black-color;
}

.ini.background.orange {
    background: $orange-color;
}

.ini.background.carrot {
    background: $carrot-color;
}

.ini.background.red {
    background: $red-color;
}

.ini.background.purple {
    background: $purple-color;
}

.ini.background.orange {
    background: $orange-color;
}

.ini.background.midnight {
    background: $midnight-color;
}

.ini.background.green {
    background: $green-color;
}
/*
===============================================================
    INI COLOR
===============================================================
*/
.ini.color.blue {
    background: $blue-color;
}

.ini.color.red {
    background: $red-color;
}

.ini.color.gray {
    background: $gray-color;
}

.ini.color.black {
    background: $black-color;
}

.ini.color.orange {
    background: $orange-color;
}

.ini.color.carrot {
    background: $carrot-color;
}

.ini.color.red {
    background: $red-color;
}

.ini.color.purple {
    background: $purple-color;
}

.ini.color.orange {
    background: $orange-color;
}

.ini.color.midnight {
    background: $midnight-color;
}

.ini.color.green {
    background: $green-color;
}
/*
===============================================================
    INI HAMBURGER
===============================================================
*/
.ini.hamburger span {
    height: 2px;
    width: 30px;
    background: white;
    display: -webkit-box;
    position: relative;
    left: 0;
    transition: all 0.3s;
}

.ini.hamburger span:first-child {
    -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ini.hamburger span:nth-child(2),
.ini.hamburger span:last-child {
    margin-top: 6px;
    -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ini.hamburger.active {
    position: relative;
    top: 8px;
}

.ini.hamburger.active span:first-child {
    transform: translate3d(0, 0, 0) rotate(45deg);
    -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ini.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.ini.hamburger.active span:last-child {
    transform: translate3d(0, -16px, 0) rotate(-45deg);
    -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ini.hamburger:hover:not(.active) span:first-child {
    left: 10px;
    transition: all 0.3s;
}

.ini.hamburger:hover:not(.active) span:nth-child(2) {
    left: 5px;
    transition: all 0.3s;
}

/*
===============================================================
    INI MODAL
===============================================================
*/
.ini.overflow.hidden{
    overflow: hidden;
}
.ini.modals{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    z-index: 998;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.ini.modals.active{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
}
//size modal
.ini.modal.medium{
    max-width: 768px;
    margin:2rem auto;
}
.ini.modal{
    background: #f9f9f9;
    border-radius: 4px;
}
.ini.modal .header{
    border-bottom: 1px solid #ccc;    
}
.ini.modal h1,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.ini.modal{
    .header,.action {
        display: flex;
    }
    .header,.action,.content {
        padding: 10px 20px;
    }
    .action {
        justify-content: flex-end;
        button{
            margin: 0px 5px;
        }
        button:first-child{
            margin-left: 0;
        }
        button:last-child{
            margin-right: 0;
        }
    }
    .button.close {
        margin-left: auto;
        padding: 0;
        color: #000;
    }
}
/*
===============================================================
    INI NAVBAR
===============================================================
*/
.ini.navbar{
    display: flex;
    padding: 1rem 2rem;
    box-shadow: 0 2px 0 0 #f5f5f5;
    margin-bottom: 1rem;
    img{
        vertical-align: top!important;
        height: 30px;
    }
    .navbar.brand{
        padding:0px 10px;
        font-size: 20px;
        line-height:30px;
    }
    .menu.left,.menu.right,.menu.center{
        flex: 1;
        line-height:30px;
        a{
            font-weight: 600;
            padding: .5rem 1rem;
        }
    }
    .menu.left{
        text-align: left;
    }
    .menu.center{
        text-align: center;
    }
    .menu.right{
        text-align: right;
    }
}
/*
===============================================================
    INI ACCORDION
===============================================================
*/
.ini.menu.vertical{
    list-style: none;
    padding-left: 0;
    margin: 0;
    > li > a{
        display:block;
        padding: 10px;
        cursor: pointer;
    }
    .openCollapse::after{
        font-family: 'Material Icons';
        content: "expand_more";
        float: right;
    }
    .openCollapse.active::after{
        content: "expand_less";
    }
    .collapse.active{
        max-height: 999px;
        transition: all 2s;
    }
    .collapse{
        list-style: none;
        padding-left: 20px;
        max-height: 0px;
        overflow: hidden;
        a{
            display:block;
            padding: 7px;
            cursor: pointer; 
            color: $text-nd-color;
        }
    }
}
/*
===============================================================
    INI TEXT
===============================================================
*/
.ini.bold{
    font-weight: bold;
}
/*
===============================================================
    INI BUTTON
===============================================================
*/
.ini.button {
    color: white;
    padding: 10px 14px;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
}

.ini.button.blue {
    background: $blue-color;
    border: 1px solid $blue-color;
}

.ini.button.blue:hover {
    background: $blue-nd-color;
}

.ini.button.o-blue {
    border: 1px solid $blue-color;
    color: $blue-color;
}

.ini.button.o-blue:hover {
    background: $blue-color;
    color: white;
}

.ini.button.red {
    border: 1px solid $red-color;
    background: $red-color;
}

.ini.button.red:hover {
    background: $red-nd-color;
}

.ini.button.o-red {
    border: 1px solid $red-color;
    color: $red-color;
}

.ini.button.o-red:hover {
    background: $red-color;
    color: white;
}

.ini.button.gray {
    border: 1px solid $gray-color;
    background: $gray-color;
}

.ini.button.gray:hover {
    background: $gray-nd-color;
}

.ini.button.o-gray {
    border: 1px solid $gray-color;
    color: $gray-color;
}

.ini.button.o-gray:hover {
    background: $gray-color;
    color: white;
}

.ini.button.black {
    border: 1px solid $black-color;
    background: $black-color;
}

.ini.button.black:hover {
    background: $black-nd-color;
}

.ini.button.o-black {
    border: 1px solid $black-color;
    color: $black-color;
}

.ini.button.o-black:hover {
    background: $black-color;
    color: white;
}

.ini.button.orange {
    border: 1px solid $orange-color;
    background: $orange-color;
}

.ini.button.orange:hover {
    background: $orange-nd-color;
}

.ini.button.o-orange {
    border: 1px solid $orange-color;
    color: $orange-color;
}

.ini.button.o-orange:hover {
    background: $orange-color;
    color: white;
}

.ini.button.carrot {
    border: 1px solid $carrot-color;
    background: $carrot-color;
}

.ini.button.carrot:hover {
    background: $carrot-nd-color;
}

.ini.button.o-carrot {
    border: 1px solid $carrot-color;
    color: $carrot-color;
}

.ini.button.o-carrot:hover {
    background: $carrot-color;
    color: white;
}

.ini.button.purple {
    border: 1px solid $purple-color;
    background: $purple-color;
}

.ini.button.purple:hover {
    background: $purple-nd-color;
}

.ini.button.o-purple {
    border: 1px solid $purple-color;
    color: $purple-color;
}

.ini.button.o-purple:hover {
    background: $purple-color;
    color: white;
}
.ini.button.midnight {
    border: 1px solid $midnight-color;
    background: $midnight-color;
}

.ini.button.midnight:hover {
    background: $midnight-nd-color;
}

.ini.button.o-midnight {
    border: 1px solid $midnight-color;
    color: $midnight-color;
}

.ini.button.o-midnight:hover {
    background: $midnight-color;
    color: white;
}

.ini.button.green {
    border: 1px solid $green-color;
    background: $green-color;
}

.ini.button.green:hover {
    background: $green-nd-color;
}

.ini.button.o-green {
    border: 1px solid $green-color;
    color: $green-color;
}

.ini.button.o-green:hover {
    background: $green-color;
    color: white;
}

.ini.button.o-white {
    border: 1px solid white;
    color: white;
}